!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv": "X-UA-Compatible" }
    %title
      = content_for(:title)
      | SiteName
    %meta{ content: "Copyright (c) #{Time.new.year} SiteName. All Rights Reserved.", name: "copyright" }
    %meta{ content: "", name: "description" }
    %meta{ content: "SiteName", name: "author" }
    = stylesheet_link_tag    use_cdn_resources? ? "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css"                       : "vendor/bootstrap-3.3.2.css"
    = stylesheet_link_tag    use_cdn_resources? ? "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css"                 : "vendor/bootstrap-theme-3.3.2.css"
    = stylesheet_link_tag    use_cdn_resources? ? "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker.min.css"                   : "vendor/bootstrap-datepicker.css"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag use_cdn_resources? ? "//code.jquery.com/jquery-1.11.2.min.js"                                                               : "vendor/jquery-1.11.2.js"
    = javascript_include_tag use_cdn_resources? ? "//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.min.js"                                       : "vendor/lodash-3.2.0.js"
    = javascript_include_tag use_cdn_resources? ? "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"                         : "vendor/bootstrap-3.3.2.js"
    = javascript_include_tag use_cdn_resources? ? "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.min.js"           : "vendor/bootstrap-datepicker.js"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ role: "document" }

    -# Flash Messages
    -# ------------------------------------------------
    - flash.each do |name, message|
      - if name != "timedout" # skip timed out flash type
        .alert{ class: "alert-#{bootstrap_alert_name(name)}", role: "alert" }
          = message


    -# Navigation
    -# ------------------------------------------------
    = render partial: "shared/navigation"


    -# Child layout content
    -# ------------------------------------------------
    .container{ role: "main" }
      .row
        = yield
